<title>Publicación</title>
<container class="container" style="color: white;padding-top: 30px;">
  <p id="iduser" hidden>{{userlogged.id}}</p>
  <div class="row" style="margin-left: 300px;">
    <div class="col" style="max-width: 1000px;background-color: #343a40">
      <h1 id="ptitulo">
        {{publicacion.title}}
      </h1>
      <div class="row">
        <div class="col">
          <h4 id="pdescripcion">
            {{publicacion.description}}
          </h4>
        </div>
      </div>
    </div>
    <div class="card bg-light mb-3" style="margin-left: 45px;background-color: #343a40;height: 300px;">
      <div>
        <div class="jumbotron text-center hoverable p-4"
          style="background-color: #343a40; width: 400px; height: 298px;">
          <div class="row">
            <div class="col">
              <div class="view overlay">
                <img src="" class="img-fluid">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>
            <div class="col">
              <a href="#!" class="green-text">
                <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i>{{publicacion.user.name}}</h6>
              </a>
              <p class="font-weight-normal">Seguidores: </p>
              <p class="font-weight-normal">Likes: </p>
              <a class="btn btn-success" href="/users/perfil/{{publicacion.user.id}}">Ver perfil</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="my-5" style="background-color: #343a40; margin-left: 100px;width: 1700px">
    <div class="row">
      <div class="card-header border-0 font-weight-bold" style="margin-left: 5px;">
        {{lengthcomments}} Comentarios
      </div>
      <div class="col">
        <div class="row">
          <div class="col" style="margin-left: 1360px">
            <a class="btn btn-primary" type="button" href="http://localhost:3000/foro/addlikepost/{{publicacion.id}}/{{userlogged.id}}" style="width: 70px">
              <div class="row">
                <div class="col">
                  <h5>{{publicacion.likes}}</h5>
                </div>
                <div class="col" style="margin-right: 14px;">
                  <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-hand-thumbs-up" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16v-1c.563 0 .901-.272 1.066-.56a.865.865 0 0 0 .121-.416c0-.12-.035-.165-.04-.17l-.354-.354.353-.354c.202-.201.407-.511.505-.804.104-.312.043-.441-.005-.488l-.353-.354.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315L12.793 9l.353-.354c.353-.352.373-.713.267-1.02-.122-.35-.396-.593-.571-.652-.653-.217-1.447-.224-2.11-.164a8.907 8.907 0 0 0-1.094.171l-.014.003-.003.001a.5.5 0 0 1-.595-.643 8.34 8.34 0 0 0 .145-4.726c-.03-.111-.128-.215-.288-.255l-.262-.065c-.306-.077-.642.156-.667.518-.075 1.082-.239 2.15-.482 2.85-.174.502-.603 1.268-1.238 1.977-.637.712-1.519 1.41-2.614 1.708-.394.108-.62.396-.62.65v4.002c0 .26.22.515.553.55 1.293.137 1.936.53 2.491.868l.04.025c.27.164.495.296.776.393.277.095.63.163 1.14.163h3.5v1H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <h1>SO PTUEN DO{{userlogged.id}}</h1>
          <div class="col" style="margin-right: 40px;">
            <a class="btn btn-danger" type="button" href="http://localhost:3000/foro/adddislikepost/{{publicacion.id}}/{{userlogged.id}}" style="margin-bottom: 5px;width: 70px">
              <div class="row">
                <div class="col">
                  <h5>{{publicacion.dislikes}}</h5>
                </div>
                <div class="col" style="margin-right: 14px;">
                  <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-hand-thumbs-down"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                      d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28v1c.563 0 .901.272 1.066.56.086.15.121.3.121.416 0 .12-.035.165-.04.17l-.354.353.353.354c.202.202.407.512.505.805.104.312.043.44-.005.488l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.415-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.353.352.373.714.267 1.021-.122.35-.396.593-.571.651-.653.218-1.447.224-2.11.164a8.907 8.907 0 0 1-1.094-.17l-.014-.004H9.62a.5.5 0 0 0-.595.643 8.34 8.34 0 0 1 .145 4.725c-.03.112-.128.215-.288.255l-.262.066c-.306.076-.642-.156-.667-.519-.075-1.081-.239-2.15-.482-2.85-.174-.502-.603-1.267-1.238-1.977C5.597 8.926 4.715 8.23 3.62 7.93 3.226 7.823 3 7.534 3 7.28V3.279c0-.26.22-.515.553-.55 1.293-.138 1.936-.53 2.491-.869l.04-.024c.27-.165.495-.296.776-.393.277-.096.63-.163 1.14-.163h3.5v-1H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z" />
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    {{#unless comentario}}
    <h4 style="text-align: center;">
      Aún no hay comentarios. Se el primero en publicar uno!
    </h4>
    {{/unless}}
    <div class="row">
      <div class="form-group mt-4" style="margin-left: 20px;">
        <label for="quickReplyFormComment">Tu comentario</label>
        <textarea class="form-control" id="cuadrocomentario" rows="2"
          style="width: 1690px;background-color: rgb(36, 36, 36);color:white"></textarea>
        <div class="text-center my-4">
          <button id="publicarcomentario" class="btn btn-primary btn-sm" style="margin-left: 1550px;">Publicar
            comentario</button>
        </div>
        <div class="row" style="margin-left: 1px;background-color: white;height: 1px;width: 1690px">
        </div>
      </div>
      <p id="publicacionid" hidden>{{publicacion.id}}</p>
      <!--<p id= "iduser" hidden>{{userlogged.id}}</p>-->
      <div class="row" style="margin-left: 1px;margin-right: 1px;width: 1801px;">
        {{#each comentario}}
        <p id="comment{{id}}" hidden>{{this.id}}</p>
        <div id="comentariosusuarios" class="row"
          style="margin-top: 10px;margin-bottom: 10px;margin-left: 30px;width: 825px;background-color: rgb(36, 36, 36)">
          <div class="col">
            <img class="card" alt="Generic placeholder image" src="/imagenes/foro/Captura.PNGyiyuiuy.PNG"
              style="width: 150px;">
          </div>
          <div class="col" style="margin-right: 500px;">
            <div class="media-body text-center text-md-left ml-md-3 ml-0">
              <h5 class="font-weight-bold mt-0">
                <a id="publicacion">
                  <a style="color: rgb(0, 110, 255);" href="/users/perfil/{{user.id}}"> {{user.name}}</a>
                  <h4>{{this.comment}}</h4>
                </a>
                <a class="pull-right" style="mar">
                  <i class="fas fa-reply"></i>
                  <!--<div class="text-white">{{this.comment}} {{createdAt}}</div>-->
                  <div class="row">
                    <div class="col">
                      <a class="btn btn-primary" type="button" href="http://localhost:3000/foro/addlikecomment/{{id}}"
                        style="margin-left: 450px;margin-bottom: 5px; width: 70px">
                        <div class="row">
                          <div class="col">
                            <h5>{{this.likes}}</h5>
                          </div>
                          <div class="col" style="margin-right: 14px;">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-hand-thumbs-up"
                              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd"
                                d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16v-1c.563 0 .901-.272 1.066-.56a.865.865 0 0 0 .121-.416c0-.12-.035-.165-.04-.17l-.354-.354.353-.354c.202-.201.407-.511.505-.804.104-.312.043-.441-.005-.488l-.353-.354.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315L12.793 9l.353-.354c.353-.352.373-.713.267-1.02-.122-.35-.396-.593-.571-.652-.653-.217-1.447-.224-2.11-.164a8.907 8.907 0 0 0-1.094.171l-.014.003-.003.001a.5.5 0 0 1-.595-.643 8.34 8.34 0 0 0 .145-4.726c-.03-.111-.128-.215-.288-.255l-.262-.065c-.306-.077-.642.156-.667.518-.075 1.082-.239 2.15-.482 2.85-.174.502-.603 1.268-1.238 1.977-.637.712-1.519 1.41-2.614 1.708-.394.108-.62.396-.62.65v4.002c0 .26.22.515.553.55 1.293.137 1.936.53 2.491.868l.04.025c.27.164.495.296.776.393.277.095.63.163 1.14.163h3.5v1H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z" />
                            </svg>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="col">
                      <a class="btn btn-danger" type="button" href="http://localhost:3000/foro/adddislikecomment/{{id}}"
                        style="margin-left: 470px;margin-bottom: 5px;width: 70px">
                        <div class="row">
                          <div class="col">
                            <h5>{{this.dislikes}}</h5>
                          </div>
                          <div class="col" style="margin-right: 14px;">
                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-hand-thumbs-down"
                              fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd"
                                d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28v1c.563 0 .901.272 1.066.56.086.15.121.3.121.416 0 .12-.035.165-.04.17l-.354.353.353.354c.202.202.407.512.505.805.104.312.043.44-.005.488l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.415-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.353.352.373.714.267 1.021-.122.35-.396.593-.571.651-.653.218-1.447.224-2.11.164a8.907 8.907 0 0 1-1.094-.17l-.014-.004H9.62a.5.5 0 0 0-.595.643 8.34 8.34 0 0 1 .145 4.725c-.03.112-.128.215-.288.255l-.262.066c-.306.076-.642-.156-.667-.519-.075-1.081-.239-2.15-.482-2.85-.174-.502-.603-1.267-1.238-1.977C5.597 8.926 4.715 8.23 3.62 7.93 3.226 7.823 3 7.534 3 7.28V3.279c0-.26.22-.515.553-.55 1.293-.138 1.936-.53 2.491-.869l.04-.024c.27-.165.495-.296.776-.393.277-.096.63-.163 1.14-.163h3.5v-1H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z" />
                            </svg>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <!--<a id="likecomment" class="btn btn-primary btn-sm active" href="http://localhost:3000/foro/addlikecomment/{{id}}">dalelikepelotudo</a>-->
                </a>
              </h5>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <!--<div class="row">
        <nav class="d-flex justify-content-center mt-5" style="margin-left: 300px;">
          <ul class="pagination pg-blue mb-0">
            <li class="page-item disabled">
              <a class="page-link">First</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link">1</a>
            </li>
            <li class="page-item">
              <a class="page-link">2</a>
            </li>
            <li class="page-item">
              <a class="page-link">3</a>
            </li>
            <li class="page-item">
              <a class="page-link">4</a>
            </li>
            <li class="page-item">
              <a class="page-link">5</a>
            </li>
            <li class="page-item" style="color:rgb(0, 110, 255)">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link">Last</a>
            </li>
          </ul>
        </nav>
      </div> a-->
  </section>
</container>
<script>
  $(document).ready(function () {
    $('#publicarcomentario').on('click', function (event) {
      console.log($("#publicacionid").text())
      $.ajax({
        url: 'http://localhost:3000/foro/subircomentario',
        type: 'POST',
        data: {
          idpost: $("#publicacionid").text(),
          iduser: $("#iduser").text(),
          comment: $("#cuadrocomentario").val()
        },
        success: function (result) {
          location.reload();
        }
      });
    });
  });
</script>