<title>Publicación</title>
<container class="container" style="color: white;padding-top: 30px;">
  <p id="iduser" hidden>{{userlogged.id}}</p>
  <div class="row" style="margin-left: 300px;">
    <div class="col" style="max-width: 1000px;background-color: #343a40">
      <h1 id="ptitulo">
        {{publicacion.title}}
      </h1>
      <div class="row">
        <div class="col">
          <h4 id="pdescripcion">
            {{publicacion.description}}
          </h4>
        </div>
      </div>
    </div>
    <div class="card bg-light mb-3" style="margin-left: 45px;background-color: #343a40;height: 300px;">
      <div>
        <div class="jumbotron text-center hoverable p-4"
          style="background-color: #343a40; width: 400px; height: 298px;">
          <div class="row">
            <div class="col">
              <div class="view overlay">
                <img src="" class="img-fluid">
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>
            <div class="col">
              <a href="#!" class="green-text">
                <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i>{{publicacion.user.name}}</h6>
              </a>
              <p class="font-weight-normal">Seguidores: </p>
              <p class="font-weight-normal">Likes: </p>
              <a class="btn btn-success" href="/users/perfil/{{publicacion.user.id}}">Ver perfil</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <button id="like" style="margin-left: 40%">like publicacion ghijo de puta</button>
  </div>

  <section class="my-5" style="background-color: #343a40; margin-left: 100px;width: 1700px">
    <div class="card-header border-0 font-weight-bold">{{lengthcomments}} Comentarios | {{publicacion.likes}} Likes</div>
    {{#unless comentario}}
    <h4 style="text-align: center;">
      Aún no hay comentarios. Se el primero en publicar uno!
    </h4>
    {{/unless}}
    <div class="row">
      <div class="form-group mt-4" style="margin-left: 20px;">
        <label for="quickReplyFormComment">Tu comentario</label>
        <textarea class="form-control" id="cuadrocomentario" rows="2"
          style="width: 1690px;background-color: rgb(36, 36, 36);color:white"></textarea>
        <div class="text-center my-4">
          <button id="publicarcomentario" class="btn btn-primary btn-sm" style="margin-left: 1550px;">Publicar
            comentario</button>
        </div>
        <div class="row" style="margin-left: 1px;background-color: white;height: 1px;width: 1690px">
        </div>
      </div>
      <p id="publicacionid" hidden>{{publicacion.id}}</p>
      <!--<p id= "iduser" hidden>{{userlogged.id}}</p>-->
      <div class="row" style="margin-left: 1px;margin-right: 1px;width: 1801px;">
        {{#each comentario}}
        <p id="comment{{id}}" hidden>{{this.id}}</p>
        <div id="comentariosusuarios" class="row"
          style="margin-top: 10px;margin-bottom: 10px;margin-left: 30px;width: 825px;background-color: rgb(36, 36, 36)">
          <div class="col">
            <img class="card" alt="Generic placeholder image" src="/imagenes/foro/Captura.PNGyiyuiuy.PNG"
              style="width: 150px;">
          </div>
          <div class="col" style="margin-right: 500px;">
            <div class="media-body text-center text-md-left ml-md-3 ml-0">
              <h5 class="font-weight-bold mt-0">
                <a id="publicacion">
                  <a style="color: rgb(0, 110, 255);" href="/users/perfil/{{user.id}}"> {{user.name}}</a>
                  <a id="likecomment" href="http://localhost:3000/foro/addlikecomment/{{id}}">dalelikepelotudo</a>
                </a>
                <a class="pull-right" style="mar">
                  <i class="fas fa-reply"></i>
                  <div class="text-white">{{this.comment}} {{createdAt}}</div>
                </a>
              </h5>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <!--<div class="row">
        <nav class="d-flex justify-content-center mt-5" style="margin-left: 300px;">
          <ul class="pagination pg-blue mb-0">
            <li class="page-item disabled">
              <a class="page-link">First</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link">1</a>
            </li>
            <li class="page-item">
              <a class="page-link">2</a>
            </li>
            <li class="page-item">
              <a class="page-link">3</a>
            </li>
            <li class="page-item">
              <a class="page-link">4</a>
            </li>
            <li class="page-item">
              <a class="page-link">5</a>
            </li>
            <li class="page-item" style="color:rgb(0, 110, 255)">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link">Last</a>
            </li>
          </ul>
        </nav>
      </div> a-->
  </section>
</container>
<script>
  $(document).ready(function () {
    console.log($("#commentid").text())
    $('#like').on('click', function (event) {
      $.ajax({
        url: 'http://localhost:3000/foro/addlikepost',
        type: 'POST',
        data: {
          idpost: $("#publicacionid").text()
        },
        success: function (result) {
          location.reload();
        }
      })
    });
    /*$('#likecomment').on('click', function (event) {
      $.ajax({
        url: 'http://localhost:3000/foro/addlikecomment',
        type: 'POST',
        data: {
          idcomment: $("#commentid").text()
        },
        success: function (result) {
          location.reload();
        }
      })
    });*/
    $('#publicarcomentario').on('click', function (event) {
      console.log($("#publicacionid").text())
      $.ajax({
        url: 'http://localhost:3000/foro/subircomentario',
        type: 'POST',
        data: {
          idpost: $("#publicacionid").text(),
          iduser: $("#iduser").text(),
          comment: $("#cuadrocomentario").val()
        },
        success: function (result) {
          location.reload();
        }
      });
    });
  });
</script>